body {
  line-height: 1.15;
  font-size: 0.5rem;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 0 0 / cover;
  background: url(../images/body-bg.png);
}

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.viewport {
  /* 限定大小 */
  min-width: 1024px;
  max-width: 1920px;
  min-height: 780px;
  margin: 0 auto;
  background-size: 20%;
  padding: 15vh 0.933rem 0;
}

/* 导航 */
.anotherPage {
  position: fixed;
  width: 100%;
  top: 7.96296vh;
  min-width: 100%;
  max-width: 1920px;
  z-index: 999;
  box-sizing: border-box;
  padding: 0 0.933rem 2vh;
}
.anotherPage a {
  float: left;
  color: #6ce1ff;
  font-size: 0.6rem;
  background: rgba(14, 76, 129,.5);
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  margin-right: 0.5rem;
}

/* 页面头部 */
.pageHeader {
  position: fixed;
  top: 0;
  min-width: 100%;
  max-width: 1920px;
  height: 7.96296vh;
  display: flex;
  justify-content: space-between;
  background: url(../images/body-bg.png);
  z-index: 999;
}
.pageHeader .header-title {
  width: 20vw;
  height: 100%;
  text-align: center;
  background: url(../images/logo.png) no-repeat 0 0 / contain; 
  background-size: auto 70%;
  background-repeat: no-repeat;
  overflow: hidden;
}
.pageHeader .header-title a {
  display: block;
  height: 100%;
}
.pageHeader .header-menu {
  height: 4.90741vh;
  font-size: 1.57407vh;
  background: url(../images/header-menu-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0 1.30208vw 0 2.60417vw;
}
.pageHeader .header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: .92593vh;
}
.pageHeader .header-menu li {
  line-height: 2.22222vh;
  padding: 0 .625vw;
}
.pageHeader .header-menu .on a { color: #fff; }
.pageHeader .header-menu li a { color: #6ce1ff; }
.pageHeader .header-menu li:hover a { color: #fff; }

.panel {
  /* 边框 */
  box-sizing: border-box;
  border: 2px solid red;
  border-image: url(../images/border.png) 51 38 21 132;
  border-width: 2.125rem 1.583rem 0.875rem 5.5rem;
  position: relative;
  margin-bottom: 0.833rem;
}

.panel .inner {
  /* 装内容 */
  /* height: 60px; */
  position: absolute;
  top: -2.125rem;
  right: -1.583rem;
  bottom: -0.875rem;
  left: -5.5rem;
  padding: 1rem 1.5rem;
}
.panel h3 {
  font-size: 0.833rem;
  color: #fff;
}
.panel .chart{
  flex: 1;
  height: 100%;
}

.line {
  width: 100%;
}
.partOne {
  float: left;
  width: 40%;
}
.partTwo {
  float: left;
  width: 60%;
}

/* 统计 */
.statistics {
  width: 100%;
  height: 20rem;
}
.statistics .map {
  float: left;
  width: 45%;
  height: 100%;
}
.statistics .map .inner {
  position: relative;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  padding: 0;
}
.statistics .map .inner,.statistics .map .chart,.statistics .map .geo {
  width: 100%;
  height: 100%;
}
.statistics .statisticsChart {
  float: left;
  width: 55%;
  height: 100%;
}
.statistics .statisticsChart .chart,.statistics .statisticsChart .bar {
  width: 100%;
  height: 100%;
}


/* 概况 */
.survey {
  width: 40%;
  height: 12rem;
  float: left;
}
.survey .chart,.survey .bar {
  width: 100%;
  height: 100%;
}

/* 运维实时监控 */
.monitor {
  width: 58%;
  height: 12rem;
  float: left;
}
.monitor .chart1 {
  float: left;
  width: 30%;
  height: 100%;
}
.monitor .chart2 {
  float: left;
  width: 70%;
  height: 100%;
  position: relative;
}
.monitor .bar {
  width: 100%;
  height: 100%;
}
.monitor .chart2 p {
  right: 0;
  top: 0;
  color: white;
  position: absolute;
}
.monitor .chart2 p span {
  margin: 0 10px;
}
.monitor .chart2 p span b{
  display: inline-block;
  width: 1rem;
  height: 2px;
  position: relative;
  top: -3px;
}
.monitor .chart2 p span:nth-child(1) b {
  background-color: #ffa222;
}
.monitor .chart2 p span:nth-child(2) b {
  background-color: #5496d4;
}


/* 平台业务域 */
.business {
  width: 100%;
  height: 8rem;
}
.business .chart {
  height: 100%;
  width: 60%;
  float: left;
}
.business .chart .bar {
  width: 100%;
  height: 100%;
}
.business .statics {
  float: left;
  width: 40%;
  height: 100%;
  background: url('../images/staticsOne.png') no-repeat;
  background-size: 100% 90%;
  position: relative;
  top: -0.5rem;
}

/* 平台交互情况 */
.interactive {
  width: 100%;
  height: 10rem;
}
.interactive .chart1 {
  width: 30%;
  height: 100%;
  position: relative;
}
.interactive .chart2 {
  width: 30%;
  height: 100%;
  position: relative;
}
.interactive .chart3 {
  width: 30%;
  height: 100%;
  position: relative;
}
.interactive .bar {
  width: 100%;
  height: 100%;
}
.interactive .chart1 p ,.interactive .chart2 p ,.interactive .chart3 p {
  right: 0;
  top: 0;
  color: white;
  position: absolute;
}
.interactive .chart1 p span,.interactive .chart2 p span,.interactive .chart3 p span {
  margin: 0 10px;
}
.interactive .chart1 p span b,.interactive .chart2 p span b,.interactive .chart3 p span b{
  display: inline-block;
  width: 1rem;
  height: 2px;
  position: relative;
  top: -3px;
}
.interactive .chart1 p span:nth-child(1) b,.interactive .chart2 p span:nth-child(1) b,.interactive .chart3 p span:nth-child(1) b {
  background-color: #ffa222;
}
.interactive .chart1 p span:nth-child(2) b,.interactive .chart2 p span:nth-child(2) b,.interactive .chart3 p span:nth-child(2) b {
  background-color: #5496d4;
}
